<a href="https://colab.research.google.com/github/Code-with-AADevs/Code-with-AADevs/blob/main/OOP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
class Phone:
  def make_call(self):
    print('Lets make a call')

  def   play_game(self):
    print('Lets play a game')

p1 = Phone()
p1.make_call()
p1.play_game()

Lets make a call
Lets play a game

In [3]:
class Calculator:

  def add(self,a,b):
    return a+b

  def subtract(self,a,b):
    return a-b

In [5]:
class Phone:

  def set_color(self,color):
    self.color = color

  def set_cost(self,cost):
    self.cost = cost

  def show_color(self):
    return self.color

  def show_cost(self):
    return self.cost

  def make_call(self):
    print('Lets make a call')

  def play_game(self):
    print('Lets play a game')

In [6]:
p2=Phone()

In [11]:
p2.set_color('Blue')

In [12]:
p2.show_color()

'Blue'

In [13]:
p2.set_cost(5000)

In [14]:
p2.show_cost()

5000

In [15]:
p2.play_game()

Lets play a game

In [16]:
p2.make_call()

Lets make a call

In [17]:
class Calculator:

  def add(self,a,b):
    return a+b

  def subtract(self,a,b):
    return a-b

In [19]:
c1=Calculator()
print(c1.add(10,30))
print(c1.subtract(10,30))

40
-20

In [49]:
class Employees:

  def __init__(self,name,age,salary,gender):
    self.name=name
    self.age=age
    self.salary=salary
    self.gender=gender


  def show_details(self):
    print('Name of the employee is',self.name)
    print('Age of the employee is',self.age)
    print('Salary of the employee is',self.salary)
    print('Gender of the employee is',self.gender)

In [50]:
e1=Employees('AADIV',25,25000,'Male')
e1.show_details()

Name of the employee is AADIV
Age of the employee is 25
Salary of the employee is 25000
Gender of the employee is Male

In [55]:
class ShoppingCart:

  def __init__(self):
    self.items = []

  def add_items(self, item):
    self.items.append(item)

  def show_items(self):
    print('Cart Items is: ', self.items)

In [57]:
cart = ShoppingCart()
cart.add_items('Mobile')
cart.add_items('Laptop')
cart.add_items('Tablet')
cart.add_items('TV')
cart.add_items('Fridge')
cart.show_items()

Cart Items is:  ['Mobile', 'Laptop', 'Tablet', 'TV', 'Fridge']

In [62]:
class Student:

  def __init__(self,name,marks,age):
    self.name=name
    self.marks=marks
    self.age=age

  def show_details(self):
    print('The student name is:',self.name)
    print('The student marks is:',self.marks)
    print('The student age is:',self.age)

In [63]:
s=Student('AADIV',90,25)
s.show_details()

The student name is: AADIV
The student marks is: 90
The student age is: 25

In [76]:
class Vehicle:

  def __init__(self,model,color,price):
    self.model=model
    self.color=color
    self.price=price

  def show_details(self):
    print('The model name is:',self.model)
    print('The color is:',self.color)
    print('The Vehicle price is:',self.price)

In [77]:
V=Vehicle('BMW','Black',2500000)
V.show_details()

The model name is: BMW
The color is: Black
The Vehicle price is: 2500000

In [80]:
class Employees:

  def __init__(self,name,age,salary):
    self.name=name
    self.age=age
    self.salary=salary

  def show_details(self):
    print(f"Employee name is {self.name}  Employee age is {self.age} Employee salary is {self.salary}")

In [81]:
e1=Employees('AADIV',25,25000)
e1.show_details()

Employee name is AADIV  Employee age is 25 Employee salary is 25000

In [93]:
class Vegetables:

  def __init__(self,name,price):
    self.name=name
    self.price=price

  def show_details(self):
    print(f"The name of the vegetable is {self.name} and the price is {self.price} Rupees per Kg.")

V=Vegetables('Methi',30)
V.show_details()

The name of the vegetable is Methi and the price is 30 Rupees per Kg.

In [ ]:
class